.container{
    background:#fff0e6;
}

#hedtxt{
    font-family: 'Dancing Script', cursive;
    font-size: 8vh;
}
#m{
    margin: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 20px;
    height: auto;
    margin: 10px;
}
#m img{
    background: rgb(233, 99, 32);
    border-radius: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}