


<body class="container">
    <div class="row bg-light">
        <img src="assets/images/image1.jpg" class="w-50 col m-0 p-0 img-fluid" alt="wee">
            <div class=" col-lg text-center m-0">
                <h2 class="htext mt-5">Shape & design <br> your imagination with Me</h2>  
                <p  class="p-5">
                    Hi ,I am <span class="htext" style="font-size: 20px;">Charu  </span>
                    <br>
                    Welcome to art - My journey from imagination to reality,
                    <br>
                   for  Me ,there is not limits in these era
                   <br> so that's why <span class="htext" style="font-size: medium;">I</span> work in all Field's which is releated to Art 
                    ,Art dosen't mean to just  draw
                </p>
                
            </div>     
    </div> 
    
</body>
<div class="container  mt-5 ">
    <div class="row d-lg-flex">
        <img class="imgdp col"  src="assets/images/img2.jpg" alt="">
        <div class="imgtmp col d-lg-sm-xs-block mt-5  ">
            <div class="tmhdtxt text-center mt-3 mb-3">Art</div>
            <div class="text-center">ANY THING FOR HOME DECOR FOR YOUR INTERIOR</div>
            <hr  style="width: 50% ;margin:30px auto">
            <div class="tmintxt text-center ">Do you have a shop, restaurant or business?<br> Give more character to your interior<br> with an authentic mural or painting.</div>
        </div>
    </div>
    <div class="lm row d-lg-flex ">
        <img class="limgdp img-fluid  col"  src="assets/images/img3.jpg" alt="">
        <div class="limgtmp col mt-5 " >
            <div class="ltmhdtxt text-center mt-3 mb-3">MENTORSHIP</div>
            <div class="text-center">ANY ENTHUSIASM RELEATED TO ART </div>
            <hr  style="width: 50% ;margin:30px auto">
            <div class="ltmintxt text-center ">Do you want to learn painting <br> Trust the process<br> From the beginning to the end "Course Avalivable".</div>
        </div>
    </div>

    <div class="row d-lg-flex">
        <img class="imgdp col"  src="assets/images/img4.jpg" alt="">
        <div  class="imgtmp col d-lg-sm-xs-block mt-5  ">
            <div class="tmhdtxt text-center mt-3 mb-3">Sculpture</div>
            <div class="text-center">ANY CERAMIC SCULPTURE YOU WANT?</div>
            <hr  style="width: 50% ;margin:30px auto">
            <div class="tmintxt text-center "><br> Give more character to your interior<br> with an authentic mural or painting.</div>
        </div>
</div>
<hr>
<!--<div class="container mt-5   d-flex justify-content-center">
    <img class="img-fluid w-" src="assets/images/img2.jpg" alt="">
    <div class="desc" >a;lskfjeaiflokkajf</div>
</div>-->
<div class="maincdiv">
  <div id="carouselExampleSlidesOnly" class="carousel slide w-50" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/cars2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/cars3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/cars1.webp" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>




<div class="endbutton">
  <a href="#top">
  <button>Explore more</button></a>
</div>
